<form class="column" align="center">

<h2 align="center">Login</h2>

<div class="row">  
<md-input-container >
  <input  mdInput placeholder="Usuário"  (input)="username = $event.target.value"  id="username" type="text" placeholder="Digite seu nome de usuário"  required >
</md-input-container>
</div>


<div class="row">
<md-input-container>
  <input mdInput placeholder="Senha" (input)="password = $event.target.value" id="password" type="password" placeholder="Digite a senha" required>
</md-input-container>
</div>


<div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
    <button md-button type="submit" class="btn btn-primary" (click)="getAuthTokenSimple()">Entrar</button>
</div>


<div class="row">
  Ainda não possui conta? <a [routerLink]="['/registrar']" class="btn btn-link">Registre-se</a>
</div>
</form>